@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'StyleComponents/layout';
@import 'breakpoints'; 

.sub-menu.mega-menu-container {
    .mega-menu_link_with_imagies {
        ul {
            li {
                @media(--md) {
                    white-space: nowrap;
                }
            }
        }
    }
}

.menu-item-new-list{
    @media(min-width: 1067px){
    display: flex !important;
    flex-direction: column; 
    }
}
.sub-menu{
    @media(max-width: 768px){
        li{
            padding: 0px 15px;
        }
    }
}

.menu_mobile_images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    li{
        padding: 0; 
    }
    img { 
        width: 100%;
        height: auto; 
    }
    .mega-menu-promotion{ 
        width: 100% !important; 
        margin: 0 0px !important;
    }
    
}
.mega-menu-promotion--cover{
    p{
        font-size: 10px;
        line-height: 1.4;
        @media (--xs) {
            font-size: 1rem;
            line-height: 1.375rem;
        }
    }
} 

.mega-menu-columns.Brands.menu-item-new-list{
    li{
        a{
            text-transform: capitalize;
            font-weight: 400;
        }
    }
}
.menu-view-all-btn{
    text-decoration: underline;
    text-transform: capitalize !important;
    font-weight: typography.$heading-weight !important;
    transition: all 0.3s ease;
    &:hover{ 
        text-decoration: none; 
    }
    &::after{
        content: none;
    }
}

.menu-secondary-header{
    text-transform: uppercase !important;
    font-weight: typography.$heading-weight !important;
    pointer-events: none;
}

