@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors'; 
@import 'Token';
@import 'breakpoints';
@import 'StyleComponents/layout';
@import 'StyleComponents/button';

 .product__img-overlay{
        position: relative;
    
}
 .product__img-overlay::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%;
        background-color: #00000007;
        z-index: 6;
    }
product-card:hover{
    .pdp__quick-view{
        transform: translateY(-15px) !important;

    }
}
.pdp__quick-view {
    width: 65% !important;
    right: 5% !important;
    left: unset !important;
    color: colors.$brown-700 !important;
    column-gap: 5px;  
    background: colors.$brown-400 !important; 
    &:hover{
        background: colors.$brown-500 !important;
    }
   
    @media(--xxs){
        width: 60% !important;
    }
    @media(--lg){
        width: 37% !important; 
    }
    
}

.pdp__image-inner{
    @media(--sm){
        width: 50% !important; 
    }
}

.product-card-badge{
    font-size: 10px;
    padding:0.2rem 0.6rem;
  
}
    @media screen  and (min-width:1024px){ 
        .product-card-badge{
            font-size: 1.3rem;
            padding:0.4rem 0.8rem;
        }
    }
   

    @media screen  and (min-width:1024px){
        .product-card__badges{
            flex-flow: row;
            column-gap: 0.8rem;
    }
}

.product-custom-badges{
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 15px;
    span{
        width: fit-content;      
    }
}

.product-card .product-card-badge--custom-1, .product-card .product-card-badge--custom-2, .product-card .product-card-badge--custom-3, .product-card .product-card-badge--custom-4,
.product-card .badge.out-of-stock {
    position: unset !important;
}