/*!*******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/pdp.scss ***!
  \*******************************************************************************************************************************************************************************************************************/
:root {
  --base-margin: 20px;
  --grid-row-gap: 10px;
  --grid-row-gap-large: 20px;
  --section-content-margin: 16px;
  --section-margin: 20px;
  --section-padding:20px;
  --section-heading-margin: 10px;
  --grid-column-gap: 10px;
  --header-padding: 10px;
  --nav-vertical-padding: 15px;
}
@media (min-width: 768px) {
  :root {
    --grid-column-gap: 20px;
    --grid-row-gap: 20px;
    --header-padding: 18px;
    --base-margin: 40px;
  }
}
@media (min-width: 1024px) {
  :root {
    --base-margin: 40px;
    --section-content-margin: 20px;
    --section-margin: 20px;
    --section-padding:20px;
    --section-heading-margin: 20px;
    --grid-row-gap-large: 20px;
  }
}

.button {
  color: #fff;
  padding: 13px 14px;
  line-height: 1;
  font-family: "poppins";
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  font-family: "poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 600;
}
@media (min-width: 375px) {
  .button {
    padding: 13px 28px;
  }
}
.button svg {
  vertical-align: middle;
  margin-left: 5px;
}
.button--text:hover {
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.button--transparent {
  background: transparent !important;
  color: currentColor !important;
}
.button--outline {
  background: transparent !important;
  color: currentColor !important;
  border: 1px solid #fff;
  padding: 7px 15px;
  margin-top: 10px;
}
@media (min-width: 1024px) {
  .button--outline {
    margin-top: 28px;
    padding: 13px 15px;
  }
}
.button--outline:hover {
  border-color: #fff !important;
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.needsclick {
  min-height: 0 !important;
}

.product__img-overlay {
  position: relative;
}

.product__img-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0274509804);
  z-index: 6;
}

product-card:hover .pdp__quick-view {
  -webkit-transform: translateY(-15px) !important;
          transform: translateY(-15px) !important;
}

.pdp__quick-view {
  width: 65% !important;
  right: 5% !important;
  left: auto !important;
  left: initial !important;
  color: #473715 !important;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  background: #B18D40 !important;
}
.pdp__quick-view:hover {
  background: #997528 !important;
}
@media (min-width: 375px) {
  .pdp__quick-view {
    width: 60% !important;
  }
}
@media (min-width: 1440px) {
  .pdp__quick-view {
    width: 37% !important;
  }
}

@media (min-width: 768px) {
  .pdp__image-inner {
    width: 50% !important;
  }
}

.product-card-badge {
  font-size: 10px;
  padding: 0.2rem 0.6rem;
}

@media screen and (min-width: 1024px) {
  .product-card-badge {
    font-size: 1.3rem;
    padding: 0.4rem 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .product-card__badges {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-column-gap: 0.8rem;
       -moz-column-gap: 0.8rem;
            column-gap: 0.8rem;
  }
}
.product-custom-badges {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  padding: 15px;
}
.product-custom-badges span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.product-card .product-card-badge--custom-1, .product-card .product-card-badge--custom-2, .product-card .product-card-badge--custom-3, .product-card .product-card-badge--custom-4,
.product-card .badge.out-of-stock {
  position: static !important;
  position: initial !important;
}
